<%- include('partials/header') %>
<div class="container mt-5">
  <h2>Login</h2>
  <div class="row col-sm-4">
    <div class="card">
      <form action="/login" method="POST">
        <div class="mb-3">
          <label>Email</label>
          <input name="email" type="email" required class="form-control" />
        </div>
        <div class="mb-3">
          <label>Password</label>
          <input name="password" type="password" id="loginPassword" required class="form-control" />
          <input type="checkbox" onclick="togglePassword('loginPassword')" /> Show Password
        </div>
        <button type="submit" class="btn btn-success">Login</button>
      </form>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
<script>
  function togglePassword(id) {
    const input = document.getElementById(id);
    input.type = input.type === 'password' ? 'text' : 'password';
  }
</script>
