<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <div class="fas fa-key fa-6x">
      <h1 class="display-3">Secrets</h1>
      <p class="secret-text">Dont keep your secrets, share them anonymously</p>
      <hr />

      <form action="/submit" method="post">
        <div class="form-group">
          <input type="text" name="secret" class="form-control text-center" placeholder="What is your secret?" />
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
